// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

+font(Lato-Regular, Lato-Regular)  
=f
	font-family: "Lato-Regular", Arial, sans-serif 
+font(Lato-Medium, Lato-Medium)  
=fm
	font-family: "Lato-Medium", Arial, sans-serif 
+font(Lato-Light, Lato-Light)  
=fl
	font-family: "Lato-Light", Arial, sans-serif 
+font(Lato-Bold, Lato-Bold)  
=fb
	font-family: "Lato-Bold", Arial, sans-serif 
+font(Lato-Semibold, Lato-Semibold)  
=fsb
	font-family: "Lato-Semibold", Arial, sans-serif 

$bg: #1b272b
$red: #D63B55
$black: #1b272b
$hover: rgb(184, 54, 75)

body
	min-width: 1024px
	background: #FFF 
	+f
	font-size: 12px 
	line-height: 1.3
	color: #666766 
a
	text-decoration: none

// common blocks      
.wrap
	min-height: 100vh
	padding: 30px

.border
	position: fixed
	background: $bg 
	z-index: 100 
	&.border_left,
	&.border_right
		width: 30px
	&.border_top,
	&.border_bottom
		height: 30px
	&.border_top,
	&.border_left,
	&.border_right
		top: 0
	&.border_left,
	&.border_right,
	&.border_bottom
		bottom: 0
	&.border_top,
	&.border_left,
	&.border_bottom
		left: 0
	&.border_top,
	&.border_right,
	&.border_bottom
		right: 0

	
.main
	position: relative
	height: calc(100vh - 60px)
	background: $bg 
	.main__header
		position: absolute
		top: 0
		left: 0
		right: 0
		padding: 20px 25px 0 30px
		z-index: 4 
	.main__slider,
	.main__slide
		width: 100%
		height: 100%
	.main__slider
		z-index: 2 
	.main__slide
		background-size: cover 
		background-position: 50% 50%
	.main__slide_first
		background-image: url(../img/bg1.jpg) 
	.main__slide_second
		background-image: url(../img/bg2.jpg) 
	.main__slide_third
		background-image: url(../img/bg3.jpg)
	.main__links
		float: right
		li
			float: left
			margin-left: 15px
			padding-left: 15px
			border-left: 1px solid #fff
			+fm
			color: #FFF
			text-transform: uppercase
			&:first-child
				margin: 0
				padding: 0
				border: none
		a
			+fsb
			color: #FFF
			text-transform: uppercase
	.main__logo
		float: left
		margin-bottom: 32px
		+s(logo)
	.main__nav
		padding: 1px 0
		clear: both
		overflow: hidden
		a
			float: left
			min-width: 135px
			margin-left: 10px
			padding: 6px
			border: 1px solid #fff
			+fm
			font-size: 20px
			color: #FFF
			text-transform: uppercase
			text-align: center
			&:first-child
				margin: 0
			&:hover
				border-color: $red
				box-shadow: 0 0 0 1px $red

.est
	position: absolute
	right: 25px
	bottom: 25px
	+s(est)
	z-index: 4		

.center
	max-width: 940px
	margin: 0 auto
	padding: 0 20px

.l
	+clr
	&.l_section
		margin: 0 -15px

.col
	float: left
	margin: 0 15px
	&.col_w150
		width: 150px
	&.col_w380
		width: 380px
	&.col_w490	
		width: 490px
	&.col_w720	
		width: 720px

.header
	position: fixed
	top: 30px
	left: 30px
	right: 30px
	height: 109px
	padding: 25px 0 0 0
	background: $red 
	z-index: 99 
	.header__logo 
		float: left
		margin-top: 5px
		+s(logo-s)
	.header__right
		float: right
	.header__contacts
		margin-bottom: 17px
		font-size: 0
		text-align: right
		li
			display: inline-block
			margin-left: 30px
			vertical-align: middle
			&:first-child
				margin: 0
		a
			color: #FFF
		span
			display: inline-block
			margin-left: 5px
			font-size: 12px 
			vertical-align: middle

.icon
	display: inline-block
	vertical-align: middle
.icon-phone
	+s(phone)
.icon-mail
	+s(mail)
.icon-phone-b
	+s(phone-b)
.icon-mail-b
	+s(mail-b)
.icon-mob-b
	+s(mob-b)
.icon-in-s
	+s(in-s)

.nav
	.nav__list
		text-align: right
		font-size: 0
		>li
			position: relative
			display: inline-block
			margin-left: 20px
			padding-bottom: 20px
			vertical-align: top
			&:first-child
				margin: 0
			&:hover
				ul
					opacity: 1
					visibility: visible
			>a
				display: inline-block
				min-width: 120px
				padding: 3px 5px
				border: 1px solid #fff
				font-size: 16px
				color: #FFF 
				text-transform: uppercase
				vertical-align: top
				text-align: center
			ul
				position: absolute
				top: 100%
				left: 0
				right: 0
				background: $red 
				opacity: 0
				visibility: hidden
				+tr(all .2s) 
				li
					&.is-active
						a
							background: $black 
				a
					display: block
					padding: 3px
					font-size: 12px
					color: #FFF 
					text-align: center
					text-transform: uppercase
					&:hover
						background: $hover

.in
	padding-top: 109px
	&.in_pt35
		padding-top: 35px

.sl
	margin-bottom: 60px
	background: $bg 
	z-index: 2 
	&.sl_mb0
		margin-bottom: 0
	.sl__item
		width: 100%
		height: 300px
		background-position: 50% 0 
		
.content
	margin-bottom: 40px
	+fl
	font-size: 15px
	line-height: 1.6
	h1,
	h2,
	h3,
	h4,
	h5,
	h6
		font-weight: 400
	h1,
	h2
		+fm
		line-height: 1
	h4
		+fb
		font-size: 16px
	h1
		margin-bottom: 30px
		color: $red
		font-size: 40px
		line-height: 1  
		& + h2
			margin-top: -15px
	h2
		margin-bottom: 20px
		font-size: 28px
		line-height: 1.1
		color: $black
	h4
		margin-bottom: 5px
	p, ul
		margin-bottom: 25px
	ul
		li
			position: relative
			padding-left: 25px
			&:before
				content: ""
				position: absolute
				top: 10px
				left: 1px
				width: 5px
				height: 5px
				background: #666766
				border-radius: 50% 
	&.content_people
		padding-bottom: 40px
		text-align: center
		color: $black 

.h
	margin-bottom: 35px
	+fm
	font-size: 40px
	font-weight: 400 
	line-height: 1
	color: $red  
	&.h__

.footer
	padding: 30px 0 20px
	background: #F0F0F0 
	.footer__logo
		display: block
		margin-bottom: 25px
		+s(logo-c)
	.footer__form-title
		margin-bottom: 5px
		+fm
		font-size: 16px
		color: $black 
	.footer__right
		float: right
		width: 320px
	.footer__left
		float: left
		width: 560px
	.footer__nav
		margin-bottom: 10px
		font-size: 0
		ul
			display: inline-block
			width: 25%
			padding-right: 10px
			vertical-align: top
		li
			border-bottom: 2px solid #dbdee3
			&:first-child
				border-color: #e395a2
				+fm
				font-size: 16px
				a
					padding: 0 0 4px
					color: $black 
		a
			display: block
			padding: 4px 0
			font-size: 14px
			color: #A8B2C0 

.fieldset
	font-size: 0
	&.fieldset_row
		.field
			margin: 0 0 0 20px
			vertical-align: bottom
			&:first-child
				margin: 0
	.field
		display: inline-block
		margin-left: 10px
		vertical-align: top
		&:first-child
			margin: 0

.field
	margin-bottom: 10px
	&.field_w80
		width: 80px
	&.field_w120
		width: 120px
	&.field_w190
		width: 190px
	&.field_w238
		width: 238px
	&.field_right
		text-align: right
	&.field_mb0
		margin-bottom: 0
	>a
		+fm
		font-size: 10px
		font-style: italic
		color: #A8B2C0  
	.field__label
		margin-bottom: 5px
		+fm
		font-size: 14px
		font-style: italic
		color: #A8B2C0 

.btn
	min-width: 80px
	padding: 0 10px
	height: 31px
	background: $red
	+fsb
	font-size: 14px
	color: #fff  
	text-transform: uppercase
	&:hover
		background: $hover 

.input,
.textarea
	width: 100%
	border: 1px solid #a8b1c0
	+fm
	font-size: 14px
	font-style: italic
	color: #A8B1C0 
	+placeholder-color(#a8b1c0)
.input
	height: 31px
	padding: 0 10px
.textarea
	height: 80px
	padding: 5px 10px
	resize: vertical
	
.select
	position: relative
	.select__head
		position: relative
		height: 31px
		padding: 0 20px 0 10px
		border: 1px solid #a8b1c0
		background: #FFF 
		+fm
		font-size: 14px
		color: #A8B1C0 
		text-transform: uppercase
		line-height: 29px
		+text-overflow
		&:after
			content: ""
			position: absolute
			top: 11px
			right: 8px
			+s(arr-down)
			z-index: 2 
	select
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		-webkit-appearance: none
		opacity: 0 
		z-index: 4 

.social
	font-size: 0
	a
		display: inline-block
		margin-left: 10px
		vertical-align: top
		&:first-child
			margin: 0 
	.social__fb
		+s(fb)
	.social__tw
		+s(tw)
	.social__in
		+s(in)

.login
	margin: 0 -15px 10px
	font-size: 0
	.login__item
		display: inline-block
		width: 33.33%
		margin-bottom: 30px
		padding: 0 15px
		vertical-align: top 
		.form__title
			margin-bottom: 15px
			span
				height: 48px
				text-align: center
	.login__item_wide
		width: 100%
		.form__title
			margin-bottom: 0
			span
				height: auto
				text-align: left
		
	.form
		padding: 15px 20px 20px
		background: #FAFAFA 
		border: 3px solid #a8b2c0
	.form__title
		display: table
		width: 100%
		+fb
		font-size: 20px
		color: #A8B2C0
		text-transform: uppercase
		line-height: 1
		span
			display: table-cell
			vertical-align: middle  

.pic
	margin-bottom: 30px
	font-size: 0

.contacts
	margin-bottom: 30px
	a,
	>span
		display: table
		float: left
		margin: 0 30px 10px 0
	.contacts__cell
		display: table-cell
		height: 25px
		+fl
		font-size: 16px
		color: #666766 
		vertical-align: middle
		white-space: normal
		line-height: 1.2
		&:first-child
			width: 32px
	.icon-mail-b
		position: relative
		left: -7px

.bg
	position: relative
	padding-top: 60px
	.bg__in
		position: absolute
		top: 0
		left: 0
		right: 0
		height: 640px 
		background: url(../img/bg.jpg) no-repeat 50% 0
		background-size: cover
		z-index: 2 
	>.center
		position: relative
		z-index: 4 

.menu
	margin-bottom: 30px
	>li
		&:last-child
			a
				border: none
		&.is-active
			a
				background: $red
				color: #FFF  
		>a
			padding: 7px 5px
			background: #EBECF0 
			border-bottom: 2px solid #f6f7f8
			+fsb
			color: #A7B1BF
			text-transform: uppercase 
			text-align: center
			line-height: 1.2

	a
		display: block

.banner
	font-size: 0

.team
	overflow: hidden
	.team__list
		margin-right: -50px
	.team__item
		display: inline-block
		width: 150px
		margin: 0 40px 15px 0
		vertical-align: top
	.team__pic	
		height: 150px
		margin-bottom: 5px
		background: #83A1A4 
		font-size: 0
	.team__name
		+fm
		font-size: 16px
		color: $black 
	.team__pos
		min-height: 38px
		+fl
		font-size: 15px
		color: #8D97A5 

.shadow
	position: relative
	height: 40px
	overflow: hidden
	&:before
		content: ""
		position: absolute
		left: 0
		right: 0
		bottom: 45px
		height: 50px
		border-radius: 50%
		box-shadow: 0 0 50px 5px #ededed

.partners
	font-size: 0
	overflow: hidden
	.partners__list
		margin-right: -50px
		li
			display: inline-block
			width: 150px
			margin: 0 40px 40px 0
			vertical-align: top
			font-size: 0


















































































